doctype html   
body     
    div
        a( href='/signout')="Sign out"          
    div 
        ul
            li  
                a( href='/api/projects/new-project')='New project'
            li
                a( href="#")='Delete project'
            li
                a( href="#")='Edit project'  
            li
                a( href="#")='All project'  

block content
