extends layout
block content
    link(rel="stylesheet" type="text/css" href="../../styles/issue.css")  
<<<<<<< HEAD
    div#issue-form-wrapper
        h2="The issue management"          
        label#issue_title_label Issue Title 
        input(type='input' id='issue_title' name='issue_title') 
        br
        label Description
        input(type='input' id='issue_text' name='issue_text')
        br
        label assigned to
=======
    h2="The issue management"     
    form#issue-form-wrapper             
        label#issue_title_label Issue Title 
        input(type='input' id='issue_title' name='issue_title') 
        br
        label Description 
        input(type='input' id='issue_text' name='issue_text')
        br
        label assigned to 
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
        input(type='input' id='assigned_to' name='assigned_to')
        br
        label#status_label status
        select(name='status_text' id='status_select')
            each val in ['active','update','archived']
                option(value= val) #{val}           
        br
        label#open_checkbox_label open
<<<<<<< HEAD
        input(type='checkbox' id='open' name='open' checked)
=======
        input(type='checkbox' id='open_checkbox' name='open' checked)
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
        br
        div.submit-btn-wrapper
            button#btn-submit(name='submit' onclick='sendissue()')='submit'
            button#btn-clear(name='clear' onclick='clearForm()')='reset'
<<<<<<< HEAD
=======
        
>>>>>>> c0aedd4f16286f33080b040e8311c12f7d6ad217
        
        
        script(type='text/javascript').      
                let id = !{JSON.stringify(nameData)};  
                console.log("this is is in issue")         
                console.log(id)  
                localStorage.setItem('id',id);
                
            //- document.getElementById('btn-new-issue').onclick = (event) => {    
            //-         console.log("sending an issue")                           
            //-         sendissue();
            //-         event.preventDefault();
            //- }
        
            
        
            //-create new issue btn do nothing in the issue pug. This empty function make sure new forms 
            //-not loading when the user click on the "create new issue" button
            //- document.getElementById('btn-create-issue').onclick = () => {
                
            //- } 

           
                //-    document.getElementById('btn-submit').formaction = '/api/issues/' + id 
                //-   let id = !{JSON.stringify(nameData)}; 
                //-   console.log("issue id:" + id)
                //-   sendissue(id);
            

            

            
                
            //- function sendissue(){
            //-     let action = document.getElementById('issue-form-wrapper').getAttribute("name");
            //-     console.log(action)
            //-     console.log("sending an issue") 
            //-     let issue_title = document.getElementById('issue_title').value;
            //-     let issue_text = document.getElementById('issue_text').value;
            //-     let assigned_to = document.getElementById('assigned_to').value;
            //-     let status_text = document.getElementById('status_select').value;
            //-     let open = getOpen();

            //-     const Issue = {
            //-         issue_title,
            //-         issue_text,
            //-         assigned_to,
            //-         status_text,
            //-         open
            //-     };
                
                
            //-     console.log("Value of open:" + Issue.open)
            //-     let id = !{JSON.stringify(nameData)}; 
            //-     console.log("this is before calling")        

            //-     if( action == 'new-issue'){                  

                                        
            //-         var xhttp = new XMLHttpRequest();
            //-         xhttp.onreadystatechange = function() {
            //-             if (this.readyState == 4 && this.status == 200) {
            //-             console.log( this.responseText )
            //-             }
            //-         };
            //-         xhttp.open("POST", '/api/issues', true);
            //-         xhttp.send({ id: id });
                    
                        //- axios.post('/api/issues/' + id , Issue ,{
                        //-         headers: {
                        //-             'Authorization': localStorage.getItem('jwtToken')
                        //-         }
                        //-         }
                                
                //-                 ).then(
                //-             res => {
                //-                 console.log( res.data )
                //-                 //- localStorage.setItem('newIssue',res.data.issue_title);
                //-                 //- list.appendChild(btn);    
                //-                 const newIssueItem = document.createElement('li');
                //-                 newIssueItem.id = res.data._id;
                //-                 const newIssue = document.createTextNode(res.data.issue_title);  
                //-                 newIssueItem.appendChild(newIssue);
                //-                 document.getElementById('issues').appendChild(newIssueItem); 
                //-                 document.getElementById( newIssueItem.id ).addEventListener('click',
                //-                                                 deleleIssue); 
                //-                 //- document.write(res.data)
                                
                //-             }
                //-         ).catch(
                //-             err => console.log(err)
                //-         )
                //- }
            
                if( action == 'edit-issue'){
                      axios.put('/api/issues/'+ id,Issue, { headers: {
                                    'Authorization': localStorage.getItem('jwtToken')
                                }
                                })
                            .then( 
                                res =>{
                                    document.getElementById( res.data._id ).innerHTML = res.data.issue_title;
                                })
                            .catch( err => console.log( err  ))
                    
                }
           //- }
                
       